<div fxLayout="column" fxLayoutGap="10px">
  <mat-card>
    <mat-card-title>Agregar categoria</mat-card-title>
    <mat-card-content class="no-m">
      <mat-form-field class="max-width pt" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nombre"/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="no-p" fxLayoutAlign="end">
      <button (click)="agregar()" mat-button color="primary">Agregar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>Categorias disponibles</mat-card-title>
    <mat-card-content class="no-m">
      <mat-list *ngIf="categorias && categorias.length > 0">
        <mat-list-item *ngFor="let categoria of categorias; index as i">
          <div class="max-width align-vertical" fxLayoutAlign="space-between center">
            <div>{{ categoria.nombre }}</div>
            <div>
              <button mat-icon-button color="primary" (click)="editar(categoria)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="borrar(categoria)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider *ngIf="i !== categorias.length - 1"></mat-divider>
        </mat-list-item>
      </mat-list>

      <ng-container *ngIf="!categorias">
        <span>Obteniendo categorias...</span>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </ng-container>

      <ng-container *ngIf="categorias && categorias.length === 0">No se encontraron categorias</ng-container>
    </mat-card-content>
  </mat-card>
</div>
