<mat-toolbar color="primary">
  <span>Datos</span>
  <div class="flex-separador"></div>
  <button mat-icon-button (click)="toggleMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
