<mat-card>
  <mat-card-title>Cuentas</mat-card-title>
  <mat-card-content class="no-m">
    <mat-list *ngIf="cuentas && cuentas.length > 0">
      <mat-list-item *ngFor="let cuenta of cuentas; index as i">
        <div class="max-width align-vertical" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="center">
            <div><small>{{ cuenta.nombre }}</small></div>
            <div><small>$ {{ cuenta.saldo }}</small></div>
          </div>
          <div>
            <button mat-icon-button color="primary" (click)="editar(cuenta)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="borrar(cuenta)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider *ngIf="i !== cuentas.length - 1"></mat-divider>
      </mat-list-item>
    </mat-list>

    <ng-container *ngIf="!cuentas">
      <span>Obteniendo cuentas...</span>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </ng-container>

    <ng-container *ngIf="cuentas && cuentas.length === 0">No se encontraron cuentas</ng-container>
  </mat-card-content>
</mat-card>

<button class="boton-flotante" mat-fab color="primary" (click)="crearCuenta()">
  <mat-icon>person_add</mat-icon>
</button>
