.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-drawer {
  flex: 1 1 auto;
}

.mat-drawer {
  width: 50%;
  padding: 10px;
}

.mat-drawer button {
  flex: 1 1 auto;
  text-align: start;
}

.mat-drawer button span {
  margin-left: 20px;
}

.app-contenido {
  padding: 10px;
}

::ng-deep .flex-separador {
  flex: 1 1 auto;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

::ng-deep .boton-flotante {
  position: fixed !important;
  right: 20px;
  bottom: 20px;
}

/* Alinear verticalmente */
::ng-deep .align-vertical {
  display: flex;
  align-items: center;
}

/* Colores para los mensajes emergentes */
::ng-deep .exito-snack {
  background-color: #00a51f;
}

::ng-deep .error-snack {
  background-color: #a50000;
}

/* Utilidades */
::ng-deep .no-m {
  margin: 0 !important;
}

::ng-deep .no-p {
  padding: 0 !important;
}

::ng-deep .max-width {
  width: 100%;
}

::ng-deep .pt {
  padding-top: 18px;
}

::ng-deep .pb {
  padding-bottom: 18px;
}
