<div class="app">
  <!-- Cabecera -->
  <app-cabecera (toggleMenu)="drawer.toggle()"></app-cabecera>

  <mat-drawer-container class="app-drawer" [hasBackdrop]="true">
    <!-- Drawer -->
    <mat-drawer #drawer mode="over" position="end">
      <h3>Menú</h3>
      <div fxLayout="column" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="drawer.close()" [routerLink]="['/cuentas']">
          <mat-icon color="accent">person</mat-icon>
          <span>Cuentas</span>
        </button>
        <button mat-raised-button color="primary" (click)="drawer.close()" [routerLink]="['/movimientos']">
          <mat-icon color="accent">receipt</mat-icon>
          <span>Movimientos</span>
        </button>
        <button mat-raised-button color="primary" (click)="drawer.close()" [routerLink]="['/categorias']">
          <mat-icon color="accent">category</mat-icon>
          <span>Categorias</span>
        </button>
      </div>
    </mat-drawer>

    <!-- Contenido de la aplicación -->
    <mat-drawer-content>
      <div class="app-contenido">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
