<h2>{{ datos.titulo }}</h2>

<form [formGroup]="formulario">
  <ng-container *ngFor="let campo of datos.campos">
    <ng-container *ngIf="campo.tipo === 'date'; else select">
      <mat-form-field class="max-width" appearance="fill">
        <mat-label>{{ campo.nombre }}</mat-label>
        <input matInput autocomplete="off" [matDatepicker]="picker" [formControlName]="campo.clave">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>

    <ng-template #select>
      <ng-container *ngIf="campo.tipo === 'select'; else otro">
        <mat-form-field class="max-width" appearance="fill">
          <mat-label>{{ campo.nombre }}</mat-label>
          <mat-select [formControlName]="campo.clave">
            <mat-option *ngFor="let elemento of campo.elementros" [value]="campo.valorElemento ? elemento[campo.valorElemento] : elemento">
                {{ campo.claveElemento ? elemento[campo.claveElemento] : elemento }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </ng-template>

    <ng-template #otro>
      <mat-form-field class="max-width" appearance="fill">
        <mat-label>{{ campo.nombre }}</mat-label>
        <input matInput autocomplete="off" [type]="campo.tipo ? campo.tipo : 'text'" [formControlName]="campo.clave" />
      </mat-form-field>
    </ng-template>
  </ng-container>
</form>

<div fxLayoutAlign="end">
  <button (click)="cerrar()" mat-button color="primary">{{ datos.textoCancelar | uppercase }}</button>
  <button (click)="terminar()" mat-button color="primary">{{ datos.textoAceptar | uppercase }}</button>
</div>
