<mat-card>
  <mat-card-title>Movimientos</mat-card-title>
  <mat-card-content class="no-m">
    <mat-list *ngIf="movimientos && movimientos.length > 0">
      <mat-list-item *ngFor="let movimiento of movimientos; index as i">
        <div class="max-width align-vertical" fxLayoutAlign="space-between center">
          <div class="contenedor max-width">
            <span [ngClass]="['align-vertical', movimiento.tipo]">
              <mat-icon>{{ movimiento.tipo === 'ingreso' ? 'expand_less' : 'expand_more'}}</mat-icon>$ {{ movimiento.cantidad | number:'.2' }}
            </span>
            <span>{{ movimiento.cuenta.nombre }} - {{ movimiento.categoria.nombre }}</span>
            <span><small>{{ movimiento.fecha | date:"dd-MM-YYYY" }}</small></span>
            <span><small>{{ movimiento.nota }}</small></span>
          </div>
          <button mat-icon-button color="warn" (click)="borrar(movimiento)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider *ngIf="i !== movimientos.length - 1"></mat-divider>
      </mat-list-item>
    </mat-list>

    <ng-container *ngIf="!movimientos">
      <span>Obteniendo movimientos...</span>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </ng-container>

    <ng-container *ngIf="movimientos && movimientos.length === 0">No se encontraron movimientos</ng-container>
  </mat-card-content>
</mat-card>

<button class="boton-flotante" mat-fab color="primary" (click)="abrir()">
  <mat-icon>post_add</mat-icon>
</button>
