.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ingreso {
  color: green;
}

.gasto {
  color: red;
}

::ng-deep .mat-list-item {
  height: unset !important;
}

::ng-deep .mat-list-item-content {
  padding: 10px 0 !important;
}
