<!-- Obtener un dato -->
<ng-container *ngIf="data?.tipo === 'entrada'">
  <p *ngIf="data?.descripcion" class="no-m pb">{{ data.descripcion }}</p>
  <mat-form-field class="max-width" appearance="fill">
    <mat-label>{{ data?.nombreEntrada }}</mat-label>
    <input matInput [(ngModel)]="valor"/>
  </mat-form-field>
  <div fxLayout="end">
    <button mat-button (click)="cerrar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="valor">Guardar</button>
  </div>
</ng-container>

<!-- Responder pregunta -->
<ng-container *ngIf="data?.tipo === 'pregunta'">
  <p *ngIf="data?.pregunta" class="no-m pb">{{ data.pregunta }}</p>
  <div fxLayout="end">
    <button mat-button (click)="cerrar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="true">Confirmar</button>
  </div>
</ng-container>
